<html>
<head>
<title>SimpleRTC</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"> </script>
  <script src="http://www.promisejs.org/implementations/promise/promise-3.2.0.js"></script>
  <script src="/javascripts/lodash.js"> </script>
  <script src="/javascripts/adapter.js"> </script>
  <script src="/javascripts/browserdetect.js"> </script>
  <script src="/javascripts/canjs.com-2.0.5/can.jquery.js"> </script>
  <script src="/javascripts/app.js"> </script>
  <link rel="stylesheet" href="/stylesheets/base.css" />
  <link rel="stylesheet" href="/stylesheets/layout.css" />
  <link rel="stylesheet" href="/stylesheets/skeleton.css" />
  <link rel="stylesheet" href="/stylesheets/simplegrid.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
