body {
  padding-top: 15px;
  padding-bottom: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: hsl(236, 34%, 31%);*/
  background: url('../images/bkg-dots.png');
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'aller_lightitalic';
  src: url('/aller_ltit-webfont.eot');
  src: url('/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
       url('/aller_ltit-webfont.woff') format('woff'),
       url('/aller_ltit-webfont.ttf') format('truetype'),
       url('/aller_ltit-webfont.svg#aller_lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'aller_lightitalic';
  margin: 5px 0;
}

h1 {
  font-size: 60px;
  margin: 10px 0;
}

/*#container {
  width: 840px;
  margin: 50px auto;
  padding: 10px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px #000000;
  box-shadow: 2px 2px 5px 0px #000000;
}

#contents {
  display: none;
}

#form {
  width: 300px;
  margin: 10 auto;
}

#localVideos, #remoteVideos, video, audio, #chat {
  float: left
}

#chat {
  width: 200px;
}

#chatbox {
  width: 192px;
  border: 1px solid #d5d5d5;
  height: 200px;
  padding: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 2px #eee;
  box-shadow: inset 0px 0px 10px 2px #eee;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

#name {
  width: 100%;
}

#message {
  float: left;
  width: 150px;
}

#send {
  float: left;
  width: 50px;
}

#constraints {
  width: 100%;
  display: none;
}

#room {
  width: 100%;
}

#begin { 
  width: 100%;
}

video, audio {
  width: 320px;
}

#ifChrome {
  display: none;
  padding-top: 10px;
}
*/

.clear{
  clear: both;
}

.shadow-inset {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.margin-left {
  margin-left: 5px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.video {
  max-width: 320px;
  position: relative;
  margin: 0 auto;
}

.video-label {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 100%;
  background: hsla(0, 100%, 0%, .3);
}

ul.list-nav {
  margin: 0;
  padding: 0;
}

ul.list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d5d5d5;
}

ul.list-nav li a {
  display: block;
  width: 80%;
  float: left;
  padding: 10px 0 10px 15px;
  text-decoration: none;
  color: #767676;
  font-size: 16px;
}

ul.list-nav li i {
  display: block;
  float: left;
  width: 20%;
  margin-top: 10px;
}

ul.list-nav li a:hover {
  color: #000;
}

ul.list-nav li.active a {
  color: #000;
}

#top-bar {
  background: #fff;
  border: 1px solid #d5d5d5;
}

#video-area {
  border: 1px solid #d5d5d5;
  min-height: 250px;
  background: hsl(236, 34%, 31%);
}

#video-area video {
  max-width: 100%;
}

#me {
  max-width: 284px;
}

#main {
  border: 1px solid #d5d5d5;
  background: #fff;
  height: 450px;
}

#sidebar {
  background: #f8f8f8;
  border-right: 1px solid #c5c3c3;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.08);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.08);
  height: 100%;
  overflow-y: auto;
}

#sidebar-content {
  height: 100%;
  padding-bottom: 80px;
}

#chat-area {
  height: 100%;
  overflow-y: auto;
}

#chat-message {
   position:absolute;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
}

#msg-area .content {
  margin: 15px 0;
}

#chat-message textarea {
  width: 90%;
  margin: 0 auto;
  height: 90%;
}
